In [4]:
import pandas as pd
import numpy as np
import os
import keras
import sklearn
import json
import requests
import itertools
import datetime
import math

import seaborn as sns

from scipy import linalg
from scipy.spatial.distance import pdist

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go

from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import OneHotEncoder

from streetaddress import StreetAddressFormatter, StreetAddressParser

from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten

In [5]:
datadir = '../data/plows/v1/clean/all_plows.csv'

In [6]:
df = pd.read_csv(datadir)
df.head()

,activity_type,address,latitude,longitude,repair_type,strHeading,truck_name,time,date,street,street_num,inplace
0,Stop Moving,306 SENECA TNPK E TO ARSENAL ...,42.999824,-76.138107,SNOW & ICE,E,178.0,00:00:07,01/08/2018,SENECA TNPK E TO ARSENAL,306,True
1,,106 ARSENAL DR ...,42.999739,-76.138110,SNOW & ICE,E,178.0,00:01:07,01/08/2018,ARSENAL DR,106,True
2,,306 SENECA TNPK E TO ARSENAL ...,42.999786,-76.138090,SNOW & ICE,E,178.0,00:02:07,01/08/2018,SENECA TNPK E TO ARSENAL,306,True
3,,121 ARSENAL DR ...,42.999810,-76.137820,SNOW & ICE,E,178.0,00:03:07,01/08/2018,ARSENAL DR,121,True
4,Start Moving,121 ARSENAL DR ...,42.999808,-76.137770,SNOW & ICE,E,178.0,00:03:09,01/08/2018,ARSENAL DR,121,True

In [8]:
plow_passes_groups = df.groupby(['truck_name', 'street', 'date']).head()
plow_passes_groups.groupby(lambda x: 'time')

In [12]:
type(df['time'][0])

str